@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  color: black;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

/* Header */
header {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0 0 10%;
  background-color: black;
  color: white;
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
}

header .hero-text {
  width: 60%;
}

header p {
  margin: 30px 0;
}

a.button-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #6729a3;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

header .fa-eye {
  margin-left: 5px;
  vertical-align: middle;
}

header .hero-image {
  width: 40%;
  min-height: 400px;
  overflow: visible;
  animation: banner 15s linear infinite;
}

.hero-image:hover {
  animation-play-state: paused;
  cursor: not-allowed;
}

header img {
  width: 100%;
}

/* Header animation */
@keyframes banner {
  0% {
    background: url("images/banners/neymar-banner.png");
    background-repeat: no-repeat;
    transform: scale(0.8);
  }

  32% {
    background: url("images/banners/neymar-banner.png");
    background-repeat: no-repeat;
    transform: scale(1.2);
  }

  33% {
    background: transparent;
  }

  34% {
    background: url("images/banners/messi-banner.png");
    background-repeat: no-repeat;
    transform: scale(0.8);
  }

  67% {
    background: url("images/banners/messi-banner.png");
    background-repeat: no-repeat;
    transform: scale(1.2);
  }

  68% {
    background: transparent;
  }

  69% {
    background: url("images/banners/ronaldo-banner.png");
    background-repeat: no-repeat;
    transform: scale(0.8);
  }

  99% {
    background: url("images/banners/ronaldo-banner.png");
    background-repeat: no-repeat;
    transform: scale(1.2);
  }

  100% {
    background: transparent;
  }
}

/* Main section */
main {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

/* Player section */
.card img {
  object-fit: cover;
}
.card-title {
  font-family: Lato, sans-serif;
}
.card-button {
  font-size: 30px;
  font-weight: 700;
}
.selected-V {
  height: 350px;
}
.budget {
  height: max-content;
}

/* Footer */
footer {
  padding: 60px 0 40px;
  margin-top: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--clr-secondary);
}

footer hr {
  width: 80%;
  margin: 40px auto;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer ul {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

footer ul.footer-links {
  gap: 60px;
}

footer ul li {
  list-style: none;
}

.footer-link {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--clr-primary);
  text-decoration: underline;
  text-underline-offset: 5px;
}

footer h3 {
  font-size: 25px;
  margin: 50px 0 30px;
}

footer ul.footer-icons {
  gap: 30px;
}

.footer-icons a {
  text-decoration: none;
}

.footer-icons a {
  display: block;
  position: relative;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 1px;
  transition: 0.3s;
}

.footer-icons .fa-brands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-icons a:hover {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
